<!DOCTYPE html>
<html>
<head>
	<link href="/css/temperature.css" rel="stylesheet" type="text/css">
</head>
	<% weatherData.forEach(function(weather){ %>
		<div class="holder-box">
			<div class="day-box">
			<p> Day: <%=weather.day%></p>
			</div>
			<div class="temperature-box">
				<p><span class="bold"> Max Temperature: </span><span style="color:red"><%=weather.max.temperature%></span> </p>
				<p><span class="bold">Time: </span><span class="db"><%=weather.max.time%></span></p> 
			</div>
			<div class="temperature-box">
				<p><span class="bold"> Min Temperature: </span><span style="color:deepskyblue"><%=weather.min.temperature%></span></p>
				<p><span class="bold">Time: </span><span class="db"><%=weather.max.time%> </span></p>
			</div>
		</div>
	<% }) %>
</html>

